<!-- dropdown.html -->
<div x-data="{ isOpen: false }" class="relative inline-block text-left">
	<button
		@click="isOpen = !isOpen"
		class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:border-blue-300 focus:ring focus:ring-blue-200 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150"
		id="dropdownMenuButton"
		aria-haspopup="true"
		:aria-expanded="isOpen.toString()"
	>
		Dropdown button
	</button>
	<div
		x-show="isOpen"
		@click.away="isOpen = false"
		class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
		aria-labelledby="dropdownMenuButton"
		role="menu"
	>
		{{dropdownItems}}
	</div>
</div>
