@font-face {
	font-family: "Montserrat";
	src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("ttf");
	/* Autres propriétés facultatives */
	font-weight: normal; /* Poids de la police */
	font-style: normal; /* Style de la police */
}
